<div class="review">
  <h6>On <%= review.created_at%> said <%= review.user.email%>: </h6>
  <div class="review-rating" data-score="<%= review.rating %>"></div>
  <p>
    <%= review.comment %>
  </p>

  <% if user_signed_in? %>
    <% if review.user_id == current_user.id %>

      <div class="links btn-group">

      <%= link_to "Edit", edit_beer_review_path(review.beer, review), class: "btn btn-custom" %>
      <%= link_to "Delete", beer_review_path(review.beer, review), method: :delete, data:{confirm: "Are you sure?"}, class: "btn btn-custom" %>

    </div>

    <% end %>
  <% end %>

</div>
